
.custom-nav {
    width: 100%;
    z-index: 10;
    background-color: pink !important;
    font-size: 1.1rem;
  }


.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important; 
  }

  .jumbotron{
    background-color: rgba(221,221,221,255) !important;
  }

  .custContainer{
    display:flex;
  }
  .avatarImage{
    max-width: 150px;
    margin-left: auto;
  }

.customRow{
  border-bottom: 2px solid grey;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  height: 50vh;
}

.customOverlay{
  background-size: cover;
  background-position: center;
  align-items: center;
  width: 100%;
  height: auto;
}


.projectOneImage{
  background-image: url("../images/1920x1080.png");
}

.projectTwoImage{
  background-image: url("../images/1280x720.png");
}

.projectThreeImage{
  background-image: url("../images/1920x1080.png");
}

.projectFourImage{
  background-image: url("../images/1280x720.png");
}