
.custom-nav {
    width: 100%;
    z-index: 10;
    background-color: pink !important;
    font-size: 1.1rem;
  }


.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important; 
  }

  .jumbotron{
    background-color: rgba(221,221,221,255) !important;
  }

  .custContainer{
    display:flex;
  }
  .avatarImage{
    max-width: 150px;
    margin-left: auto;
  }

.row{
  border-bottom: 2px solid grey;
  padding: 20px !important;
  margin-top: 10px !important;
  align-items: flex-start;
}

.customCard{
  background-size: cover;
  background-position: center;
  align-items: center;

}

.custImg{
  height: 50vh;
  object-fit: cover;
}